<div>
    <div class="card">
        <div class="card-header font-weight-bold">
            教室名：{{classroomName}}
        </div>
        <div style="display: flex;flex-direction: row;">
            <!-- <div style="display: flex;flex-direction: column;width: 220px"> -->
                <client-list ref="client_list"></client-list>
                <video id="video" style="width: 70%;display: block" controls autoplay ref="local_preview"></video>
            <!-- </div> -->
        </div>
    </div>
</div>