<div class="card" style="width: 300px; z-index: 100;">
    <div class="card-header">
        对话
    </div>
    <div>
        <!-- <div v-for="c in messages">
            {{c.username}} : {{c.content}}
        </div> -->
        <div>
            <textarea id="msgArea" rows="25" style="width: 100%;"  readonly>{{areaMsgs}}</textarea>
        </div>
    </div>
    <div>
        <!-- <div style="position: absolute; bottom:0px"> -->
        <div>
            <input type="text" v-model="content">
            <buttom class="btn btn-primary" v-on:click="sendMessage()" @keyup.enter="sendMessage()">发送</buttom>
        </div>
    </div>
</div>